#block{
	width: 100vw;
	height: 100vh;
	background-color: black;
	text-align: center;
	position: fixed;
	z-index: 2;
}
#block input{
	margin-top: 25%;
}
#block input[type=submit]  {
	border: none;
	padding: 5px;
}


/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html{
	font-family: 'Roboto', sans-serif;
}
a {
	color: inherit;
	color: #9F9F9F;
	margin: 2%;
	text-decoration: underline;
}
a:hover {
    color: #66ad1c;
}

h1 {
	font-size: 1em;
	color: #727272;
	align-items: center;
	padding-bottom: 2em;
}

h2{
	font-size: 1.1em;
	color: #727272;
	margin: 5% 0 5% -15%;
	align-items: center;
	padding-right: inherit;
}

h3, label{
	color: #727272;
	font-size: 1em;
	font-weight: 100;
}

h4{
	color: #9F9F9F;
	font-size: 1.5em;
	font-weight: 100;
	font-style: italic;
}

p {
	display: inherit !important;
}

.guestType label {
	padding-left: 5em;
	padding-bottom: 1em;
}

.top-banner {
	height: 5vh;
	padding: 0 0 0 0;
}

div.top-banner p {
	color: #4A4A4A;
	font-size: 1em;
	text-align: right;
	padding: 1em 1em 1em 1em;
}

.left-container {
	text-align: center;
	height: 100vh;
	position: fixed;
	padding: 0;
	margin-top: 0;
}

.left-container img{
	width: 100%;
	padding: 4%;
	margin-top: 10px;
}

.left-container div{
	text-align: center;
}

.right-container{
	margin-left: 50%;
	height: 100vh;
	background-color: #fafafc;
	padding: 0 0 0 0;
}

.workType{
	padding: .2em;
}

.work-type{
	padding-bottom: .2em;
}

.step-container{
	display: table;
    table-layout: fixed;
	padding-left: 8em !important;
	padding-top: 2em;
	background-color: #fafafc;
	width:100%;
}

.logo-container{
	height:100vh;
	padding: 0;
	background-image: url('/../img/civic_hall_bg.png');
	/*opacity: 0.2;*/
	margin-top: 0;
}

.logo-container img{
	width: 75%;
	margin-top: 15%;
}

#step1,#step2,#step3{
	/*margin-right: 10%;*/
	/*margin-left: 10%;*/
	/*margin: auto 10%;*/
	height: 100vh;
	width: 75em;
	display:table-cell;
	padding: 10% 5% 5% 15%;
    vertical-align:middle;
/*    text-align:center;
*/}
button{
	margin: 4% 0% 4%;
	background-color:  #66ad1c;
	padding: 4%;
	font-weight: 200;
	font-size: smaller;
	width: 70%;
	border-width:0;
	/*border: 1px solid #9F9F9F;*/
	color: white;
	text-transform: uppercase;
}
button[disabled]{
	background-color: #EEEFF1;
	color: grey;
	border: 0;
	border-width:0;
}
button.civicgraph-save {
	background: #fafafc;
	padding:0;
	padding-bottom: 5em !important;
	margin:0%;
	font-size: smaller;
	width: 75%;
	border: 0px;
	color: #cccccc;
	text-transform: lowercase;
}

.template input[type='text']{
	width: 100%;
}

input[type='text']{
	border: 1px solid #DDDDDD;
    height: 40px;
    width: 70%;
    margin: 1% 0% 5% 0%;
    font-size: 1em;
	font-weight: 100;
    padding-left: 0.5em;
    display: block;
}

input[type=text]:focus {

}

input[type='radio']{
	margin: 1% 0% 5% 0%;
	display: inline !important;
}
input[type='checkbox']{

}
#cb1 {
	margin-left: 0;
}
.employerEntity{
	margin: 0px;
	padding: 0px;
}
p{
	color: #4A4A4A;
	font-size: 1.5em;
	display: inline;
}

a.ng-scope.ng-binding {
	padding-left: 0.5em;
}

#step1{
/*	height: 100vh;
*/	/*display: none;*/
}
#step2 {
	/*display: none;*/
	/*height: 100vh;*/
}
#step3{
	/*display: none;*/
	/*height:100vh;*/
	text-align: center;
}
.template {
	background-color: #EEEFF1;
	padding: 5%;
	width: 85%;
}

#addedCollaborators {
	cursor: pointer;
	border-radius: 5px;
	padding: 8px 10px 8px 10px;
	margin:2px 5px 2px 0px;
	display: none;
	color: white;
	font-size: 0.8em;
}
#addedCollaborators a{
	color: white;
	text-decoration: none;
	/*font-style: italic;*/
	/*font-size: 0.8em;*/
}
.xCLose{
	margin-left: 5px;
	font-size: 1em;
}
.last {
	display: none !important;
}
.For-Profit-color {
	display: inline-block !important;
    background-color: rgb(127, 186, 0);
}
.Non-Profit-color {
	display: inline-block !important;
    background-color: dodgerblue;
}
.Individual-color {
	display: inline-block !important;
    background-color: orange;
}
.Government-color {
	display: inline-block !important;
    background-color: rgb(242, 80, 34);
}
.greyEnt {
	display: inline-block !important;
	background-color: grey;
	cursor: pointer;
	border-radius: 5px;
	padding: 8px 10px 8px 10px;
	margin:2px 5px 2px 0px;
	display: none;
	color: white;
	font-size: 0.8em;
}
.dropdown-menu li a {
	text-decoration: none;
	font-weight: 100;
}

/*.dropdown-menu .active{*/
	/*background-color: #1792e4;*/
/*}*/

#waitMessage {
	color: #66ad1c;
	font-style: italic;
	font-size: 0.8em;
}
#locationmsg {
	display: none;
	padding: 5px 0px;
	color: #66ad1c;
	font-style: italic;
	font-size: 0.8em;
}
#locationmsgorg {
	padding: 5px 0px;
	color: #66ad1c;
	font-style: italic;
	font-size: 0.8em;
}

#worktypemsg {
	padding: 5px 0px;
	color: #66ad1c;
	font-style: italic;
	font-size: 0.8em;
}

#newmembermsg {
	display: none;
	padding: 5px 0px;
	color: #66ad1c;
	font-style: italic;
	font-size: 0.8em;
}

.buttonadd {
	margin-bottom:2em !important;
}
.one {
    opacity: 1;
    -webkit-animation: dot 1.3s infinite;
    -webkit-animation-delay: 0.0s;
    animation: dot 1.3s infinite;
    animation-delay: 0.0s;
}

.two {
    opacity: 1;
    -webkit-animation: dot 1.3s infinite;
    -webkit-animation-delay: 0.2s;
    animation: dot 1.3s infinite;
    animation-delay: 0.2s;
}

.three {
    opacity: 1;
    -webkit-animation: dot 1.3s infinite;
    -webkit-animation-delay: 0.3s;
    animation: dot 1.3s infinite;
    animation-delay: 0.3s;
}

@-webkit-keyframes dot {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes dot {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

input[type=radio] + label::before {
    content: '';
    display: inline-block;
    background-color: white;
    border: 3px solid white;
    box-shadow: 0 0 0 1px #DDDDDD;
    border-radius: 50%;
    margin: 0 0.5em;
    margin-top: -1px;
    vertical-align: middle;
}
input[type=radio]:checked + label::before {
    border: 3px solid white;
    box-shadow: 0 0 0 1px #DDDDDD;
}
.radio3 + label::before {
    width: 1.2em;
    height: 1.2em;
}

label.collabs {
	padding-top: 1em;
	width: 70%;
}

input.for-profit-background[type=radio]:checked + label::before {
    background-color: rgb(127, 186, 0);
}
input.non-profit-background[type=radio]:checked + label::before {
    background-color: dodgerblue;
}
input.government-background[type=radio]:checked + label::before {
    background-color: rgb(242, 80, 34);
}

